#fm{
    background-color:azure;
}
a:hover{
    background-color: aqua;
}
h2{
    text-align: center;
    background-color: brown;
    color: blanchedalmond;
}
body{
    background-color: beige;
}
#fimg{
    width: 188px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}