#fm{
    background-color:darkseagreen;
}
a:hover{
    background-color: aqua;
}
h2{
    text-align: center;
    background-color: brown;
    color: blanchedalmond;
    margin-left: 300px;
    margin-right: 300px;
}
body{
    background-color:bisque;
    color:black;
}
#fimg{
    width: 188px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}