body{
    background-color: cornflowerblue;
}
.container{
    background-color: blanchedalmond;
}
.table{
    width: 400px;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
.card{
    width: 235px;
}