h1{
    background-color: bisque;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
#az{
    background-color: #FFC0CB;
}
#kecske{
    background-color:#31906E ;
}
body{
    background-color: #B7CEEC;
}
.container{
    background-color:#FBF6D9;
}