h1{
    text-align: center;
    background-color:bisque;
}
.container{
    background-color: cadetblue;
}
body{
    background-color: cornflowerblue;
}
p{
    word-break:break-all;
    color:darkred   ;
}
td{
    color:darkslategrey;
}
th{
    color:darkslateblue;
}
ol{
    margin:20px;
}
table{
    background-color:cornsilk;
}