h1{
    text-align: center;
    background-color: darksalmon;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 77%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
body{
    background-color: burlywood;
}
.container{
    background-color:lightyellow;
}
p{
    text-align: justify;
}
hr{
    width: 340px;
}