h1{
    text-align: center;
    background-color: goldenrod;
}
body{
    background-color: gold;
}
#valmar3{
    width: 350px;
}
#valmar4{
    width: 390px;
    height: 230px;
}
#valmar5{
    width: 360px;
}
